streamlit
pandas
numpy
scikit-learn
imbalanced-learn==0.10.1 # Pastikan versi ini kompatibel dengan sklearn jika Anda menggunakannya offline
transformers
torch
matplotlib
seaborn
wordcloud
nltk
emoji
plotly
google-play-scraper
sastrawi
streamlit_carousel 
accelerate>=0.26.0
bitsandbytes 
